.App {
  text-align: center;
}

*{
  font-family: 'Chakra Petch', sans-serif;
}

.main{
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

a {
  color: black;
}

@media (max-width: 875px){
  .main{
    overflow: scroll;
  }
}

.successPopup {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  animation-duration: 5s;
  animation-name: successMessage;
}

@keyframes successMessage {
  0% {
    background-color: #00ff00;
  }
  50% {
    background-color: #66ff66;
  }
  80% {
    background-color: #b3ffb3;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  100% {
    background-color: #ccffcc;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
};
