.suppTitle {
  text-align: center;
  font-size: 50px;
}

.elements{
  border: 3px solid black;
  margin-left: 25px;
  margin-right: 25px;
}

.suppP {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.caseStudy {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px;
  width: 300px;
}

.colorImage {
  height: 300px;
  width: 500px;
}

.group {
  display: flex;
  justify-content: space-around;
  margin: 0px 50px 0px 50px;
}

.accessibilityImage {
  height: 500px;
  width: 300px;
}

.caseStudyText {
  margin-top: 0px;
  text-align: center;
}

.extraMarginOne {
  margin-top: 7em;
}

.extraMarginTwo {
  margin-top: 5em;
}

.extraMarginThree {
  margin-top: 3em;
}

.linkTag {
  margin-left: 3px;
  margin-right: 3px;
}
